
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

$PRIMARY: #FFEB80;
$SECONDARY: #5DFFCE;

$BG_DARK: #191927;
$BG_MEDIUM: #2A2A3E;
$BG_LIGHT: #6A6A85;
$WHITE: #FFFFFF;
$BLACK: #000000;
$BLACK_25: rgba(0,0,0,0.25);
$TRANSPARENT: rgba(0,0,0,0);

* {
    padding: 0;
    margin: 0;
    color: $WHITE;
    font-family: 'DM Mono', monospace;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

// Wrapper 

.wrapper {
    width: 100%;
    height: 100%;
    background-color: $BG_DARK;
    display: flex;
    flex-direction: row;
    background-image: url('./images/bg.jpg');
    background-size: cover;
    background-position: center;

    .background-wrapper, .main-wrapper {
        width: 100%;
        height: 100vh;
        display: flex;
    }

    .background-wrapper {
        overflow: hidden;
        position: absolute;
    }

    .main-wrapper {
        flex-direction: column;
        justify-content: space-between;
    }
 
}

.background-wrapper {
    .item-image {
        overflow: hidden;
        border-radius: 50%;
        position: absolute;
        box-shadow: 0px 0px 20px rgba(93, 255, 206, 0.25), 
            inset 10px 10px 50px rgba(93, 255, 206, 1);
        transition: all 1s;
        object-fit: fill;

            &:nth-child(1) {
                top: 70px;
                left: -72px;
            }
        
            &:nth-child(2) {
                top: 130px;
                right: -96px;
            }
        
            &:nth-child(3) {
                bottom: -64px;
                right: 310px;
            }
        
            &:nth-child(4) {
                bottom: 50px;
                right: 0px;
            }
        
            &:nth-child(5) {
                bottom: -45px;
                left: 224px;
            }
        
            &:nth-child(6) {
                top: 90px;
                right: 256px;
            }

            &:nth-child(7) {
                bottom: 246px;
                right: 250px;
            }
        
            &:nth-child(8) {
                bottom: 202px;
                left: 195px;
            }
        
            &:nth-child(9) {
                bottom: -35px;
                left: -35px;
            }
        
            &:nth-child(10) {
                bottom: 64px;
                left: 128px;
            }
    }

    .blur {
        -webkit-filter: blur(10px);
        -moz-filter: blur(10px);
        -o-filter: blur(10px);
        -ms-filter: blur(10px);
        filter: blur(10px);
        transition: all 0.2s;
    }

    .top {
        z-index: 10;
    }
}

.nav-container {
    display: flex;
    flex-direction: row;
    padding: 40px 50px;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, rgba(25,25,39,1), rgba(25,25,39,0.9),rgba(25,25,39,0.8), rgba(25,25,39,0.5), rgba(25,25,39,0));
    z-index:20;

    span, .navbar-settings {
        flex: 0 0 160px;
    }
    span {
        color: $PRIMARY;
        text-transform: uppercase;
        font-size: 28px;
        pointer-events: none;
    }

    .navbar-nav {
        flex: 1;
        text-align: center;
        justify-content: center;
        align-items: center;

        ul {
            list-style-type: none;
            vertical-align: middle;
            
            li {
                display: inline-block;
                margin: 5px 20px;
                cursor: pointer;
                font-size: 20px;
                transition: all 0.5s ease;

                &:hover {
                    border-bottom: 1px solid $WHITE;
                    transform: scale(1.1);
                }
                &.active {
                    color: $SECONDARY;
                    border-bottom: 2px solid $SECONDARY;
                    z-index: 2;
                }
            }

        }
    }

    .navbar-settings {
        text-align: right;

        .btn {
            padding: 5px 20px;
            font-size: 18px;
            border-radius: 10px;
            background-color: $PRIMARY;
            color: $BG_DARK;
            font-weight: 500;
            border: 0;
            cursor: pointer;
            transition: all 1s ease;

            &:hover {
                background-color: $SECONDARY;
                transform: scale(1.05)
            }
        }
    }

}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
    pointer-events: none;
    z-index: 20;

    p {
        text-transform: uppercase;
        color: $PRIMARY;
        font-size: 14px;
        font-weight: 300;
        text-align: 'center';
    }
}

.heading-container, .login-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 600px;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
    margin: auto;
}

.heading-container {
    z-index: 100;
    pointer-events: none;
    
    h1,h2,h3 {
        text-align: center;
        font-weight: 200;
        text-shadow: 0 0 15px $BLACK;
    }

    h1 {
        font-weight: 500;
        font-size: 54px;
    }

    h2 {
        font-weight: 400;
        font-size: 32px;
    }

    h3 {
        font-weight: 300;
        font-size: 24px;
        color: #5DFFCE;
        text-transform: capitalize;
    }
}


.text-width {
    width: 60%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.login-container {

    h2 {
        font-size: 32px;
        font-weight: 500;
    }

    p {
        font-size: 16px;
        margin: 20px;
        max-width: 250px;
        font-weight: 300;
    }

    .btn {
        background-color: $SECONDARY;
        color: $BG_DARK;
        border: 0;
        border-radius: 10px;
        padding: 9px 20px;
        font-weight: 500;
        font-size: 18px;
        text-align: center;
        cursor: pointer;
        transition: all 1s ease;

        &:hover {
            background-color: $PRIMARY;
            transform: scale(1.1)
        }
    }

}